%form{action: "index.html", method: "get"}
  %label{for: "name"}
    Name
  %input{type: "text", name: "name", value: "", id: "name"}
  
  %label{for: "email"}
    Email address
  %input{type: "text", name: "email", value: "", id: "email"}

  %label{for: "comment"}
    When would you like to stay with us?
  %textarea{name: "comment", id: "comment"}

  %p
    %input{type: "submit", value: "Continue"}