.onerow
  %strong.col12 Located in Rosslare Harbour and within a few minutes walk of the Ferryport, St. Anthony's is a comfortable family run Bed and Breakfast providing all the comforts of home.
.onerow
  %ul.col6
    %li All bedrooms are spacious and comfortable with an en-suite, TV and tea/coffee making facilities and Hair dryer.
    %li Private off-street parking facilities available.
    %li We are within easy walking distance of Rosslare Europort, Bus and Rail Stations, and local Pubs and Restaurants.
    %li Wireless Broadband available.
    %li We provide early morning breakfast to accommodate Ferry services.
    %li Local amenities include fishing, horse riding and safe, sandy beaches.
    %li Golfers can enjoy the challenge of a range of championship courses including some of the best Links and Parkland courses in Ireland, all within easy reach of St. Anthony's Bed and Breakfast.
  %img.col6.last{src: "/img/house.jpg"}
.onerow
  %img.col12.last{src: "/img/banner_1.jpg"}
.onerow
  %h2 TARIFFS
  %ul
    %li Bed and Breakfast: €35.00 per person sharing
    %li Single Rate : €45.00
    %li Reductions for groups of 4 or over

  %a{id: "make-enquiry", href: "#"}
    Make an enquiry.