!!! 5
/[if lt IE 7 ]<html class="ie ie6" lang="en">
/[if IE 7 ]<html class="ie ie7" lang="en">
/[if IE 8 ]<html class="ie ie8" lang="en">
:plain
  <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
%html{:lang => "en"}
  /<![endif]
  %head
    / Basic Meta Info
    %meta{charset: "utf-8"}/
    %title
      St. Anthony's Bed &amp; Breakfast
    %meta{name: "description", content: "St. Anthony's Bed &amp; Breakfast, Rosslare, Co. Wexford"}/
    %meta{name: "author", content: "Jack Bracken"}/
    
    / Mobile Specific Metas
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}/

    / CSS
    %link{rel: "stylesheet", href: "/css/styles.cat.min.css"}/

    / HTML5 shiv for IE
    :plain
      <!--[if lt IE 9]>
    %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    /<![endif

    / Favicons
  
    %link{rel: "shortcut icon", href: "/images/favicon.ico"}/
    %link{rel: "apple-touch-icon", href: "/images/apple-touch-icon.png"}/
    %link{rel: "apple-touch-icon", sizes: "72x72", href: "/images/apple-touch-icon-72x72.png"}/
    %link{rel: "apple-touch-icon", sizes: "114x114", href: "/images/apple-touch-icon-114x114.png"}/

    / This site built with love and:
    / -- The Sinatra ruby micro-framework    http://www.sinatrarb.com/
    / -- GetSkelton BoilerPlate              http://www.getskeleton.com/
    / -- jQuery javascript framework         http://jquery.com/
    / -- jQuery waypoints                    https://github.com/imakewebthings/jquery-waypoints/
  %body
    .container
      .sixteen.columns
        %h1.remove-bottom{style: "margin-top: 40px"}
          St. Anthony's Bed &amp; Breakfast
        %h5
          Rosslare Harbour, Co. Wexford, Ireland
        %h5
          Telephone: 053 9133599
          Mobile: 085 1266842
        %hr/
      =yield
    %script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43287106-2', 'stanthonysrosslare.com');
      ga('send', 'pageview');